.app{
	padding-top: 15px;
	.appcontainer {
	    border: 1px solid red;
	    .main-content{
	    	height: 70vh;
	    	.details{
	    		padding-top: 15px;
	    		padding-left: 15px;
	    	}
	    }
	}
	// Elements
	.btn{
		cursor: pointer;
	}
}